# <span style='color:red'> Machine Learning With Python: Linear Regression Multiple Variables.  </span>

In [59]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [74]:
df = pd.read_csv('insurance.csv')
df.head()

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

In [61]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
expenses    0
dtype: int64

In [62]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [77]:
df['sex_n'] = le.fit_transform(df['sex'])
df['smoker_n'] = le.fit_transform(df['smoker'])
df['region_n'] = le.fit_transform(df['region'])

In [79]:
X = df.drop(['sex','smoker','region','expenses'],axis='columns')
X

      age   bmi  children  sex_n  smoker_n  region_n
0      19  27.9         0      0         1         3
1      18  33.8         1      1         0         2
2      28  33.0         3      1         0         2
3      33  22.7         0      1         0         1
4      32  28.9         0      1         0         1
...   ...   ...       ...    ...       ...       ...
1333   50  31.0         3      1         0         1
1334   18  31.9         0      0         0         0
1335   18  36.9         0      0         0         2
1336   21  25.8         0      0         0         3
1337   61  29.1         0      0         1         1

[1338 rows x 6 columns]

In [80]:
y = df[['expenses']]
y.head()

   expenses
0  16884.92
1   1725.55
2   4449.46
3  21984.47
4   3866.86

In [66]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [67]:
model.fit(X,y)

LinearRegression()

In [68]:
model.score(X,y)

0.7507516902763371

## <span style='color:red'> Find the expenses for Insurance Premium.  </span>

### (1)  Age = 30, BMI = 33.8, Children = 1, Sex = Male, Smoker = Yes, Region = Southeast

In [72]:
model.predict([[30,33.8,1,1,1,2]])

array([[30604.31585667]])

### (2) Age = 28, BMI = 35.8, Childern = 2, Sex = Female, Smoker = No, Region = Northwest

In [73]:
model.predict([[28,35.8,2,0,0,1]])

array([[7899.93433691]])